<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/public/css/jass.css">
  <link rel="stylesheet" href="/public/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <nav>
    <div class="nav-wrapper blue darken-4">
      <a href="#!" class="brand-logo"><i class="material-icons">cloud</i>Task Manager</a>
      <ul class="right hide-on-small-and-down">
        <li><a class="modal-trigger" href="#modal1"><i class="material-icons">phone</i></a></li>
        <li><a class="modal-trigger" href="#modal2"><i class="material-icons">contact_support</i></a></li>
        <li><a class="" id="logout"><i class="material-icons">logout</i></a></li>
      </ul>
    </div>
  </nav>
  {{body}}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.modal');
      var instances = M.Modal.init(elems);
    });


    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('select');
      var instances = M.FormSelect.init(elems);
    });
  </script>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</html>