


{{#if user.manager}}

<div class="row">
    <div class="col s12 blue mainBar ">
        <div class="row mainInfo">
            <div class="col-3">
                <img class="mainInfo" src="images\twotone_account_circle_black_48dp.png" alt="role">
                <h3 class="container">{{user.name}}</h3>
            </div>
            <div class="col-9 container valign-wrapper o">
                <h3>Please complete tasks below</h3>
            </div>
        </div>
    </div>
</div>


{{#each tasks as |task|}}
    
<div class="row">
    <div class="col s12 m6 l3">
        <div class="taskContainer container">
            <p>{{title}}</p>
            <p>{{description}}</p>
            <p>{{date_created}}</p>
        </div>
    </div>
</div>
{{/each}}
{{/if}}