//Welcome message to role on header of page

***manager
//if manager show all task that employees need to do
-create task button
-deletes task button
-update task button
{{#if role == manager}}

{{/if}}



//if employee show task that they need to do

{{#if role == employee}}
<div class="row">
    <div class="col s12 blue mainBar ">
        <div class="row mainInfo">
            <div class="col-3">
                <img class="mainInfo" src="public\images\twotone_account_circle_black_48dp.png" alt="role">
                <h3 class="container">Employee name</h3>
            </div>
            <div class="col-9 container valign-wrapper o">
                <h3>Please complete tasks below</h3>
            </div>
        </div>
    </div>
</div>

{{#each tasks as |task|}}
    
< class="row">
    <div class="col s12 m6 l3">
        <div class="taskContainer container">
            
        </div>
    </div>
</div>
{{/each}}
{{/if}}