<!--Blue Heading-->
<div class="row">
  <div class="col s12 blue mainBar">
    <div class="row mainInfo">
      <div class="col-6 topPadding">
        <img
          class="userPhoto responsive-img"
          src="public\images\twotone_account_circle_black_48dp.png"
          alt="user"
        />
        <h3 class="flow-text employeeName">Welcome {{user.name}}! </h3>
      </div>
      <!--Chart Graphic-->
        <div class="col-6 container">
          <div class="col s6">
            <canvas id="myChart">
            </canvas>
          </div>      
        </div>
    </div>
  </div>
</div>

<!--Employee Tasks-->
<div class="row">

  {{#each tasks as |task|}}
    <div class="col s12 m6 l3">
      <div class="card container">

        <h5>{{title}}</h5>
        <p>{{description}}</p>
        <a class="btn-floating halfway-fab waves-effect waves-light red check-button" id="{{id}}">
          <i class="material-icons">check_circle</i>
        </a>
      </div>
      
    </div>
  {{/each}}
</div>

<script src="../js/chart-simple.js"></script>
<script src="../js/taskStatus.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>