
<div class="companyNews center mainBar">
  <div class="newsHeadline">
    <h2>Company News</h2>
  </div>

  <ul class="headlines collection">
    <li class="line collection-item avatar">
      <i class="material-icons circle blue">folder</i>
      <span class="title" >The Fake Company goes public in blockbuster SPAC deal...</span>
      
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="line collection-item avatar">
      <i class="material-icons circle green">insert_chart</i>
      <span class="title">The Fake Company named to Georgia's top 10 most diverse companies...</span>
      
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
    <li class="line collection-item avatar">
      <i class="material-icons circle red">play_arrow</i>
      <span class="title">Record number of The Fake Company Employees report happiness levels above...</span>
      
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
    </li>
  </ul>
  
</div>



<div class="container">
  <h2 class="center-align">Login</h2>
  <form class="form login-form">
  <div class="form-group">
    <label for="email-login">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit" style="background-color:#26a69a">login</button>
  </div>
  </form>
</div>

<script src="../js/login.js"></script>