body {
    background-color: #3D5A80;
}

.mainBar {
    height: 40vh;
    background-color: #E0FBFC;
    border-bottom: 1rem;
    border-color: #E0FBFC;
}

.navBar {
    background-color: #3D5A80;
}

.mainInfo {
    height: 30vh;
    color: white;
    padding-left:2rem;
    width: 100%;
}

.userPhoto {
    height:30vh;
}

.card {
    border:5px solid;
    border-color:  #293241;
}

.cardDetail {
    width: 100%;
}

.reminder {
    position: relative;
}
/*
.taskBtn {
    padding-top: 2rem;
}*/
       
.topPadding {
    padding-top: 1rem;
}

.borderBar {
    background: #EE6C4D ;
    height: 1.5rem;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.topRow {
    margin-bottom: 0;
}

.card{
    height: 400px;
    width: 335px;
}

.card .card-image{
    height: 50px;
    width: 50px;
}

.manager-buttons{
    display:flex;
    flex-wrap:wrap;
    padding:30px 15px 0px;
}

.chart {
    height:20vh;
    display: flex;
    flex: 0 0 0;
    max-height: 35vh;
}