

.mainBar {
    height: 10rem;
}

.mainInfo {
    height: 30vh;
    color: white;
    padding-left:2rem;
    padding-top: 2rem;
}

.userPhoto {
    height:30vh;
}

.cardDetail {
    width: 100%;
}

.reminder {
    position: relative;
}

.taskBtn {
    padding-top: 2rem;
}
       
.topPadding {
    padding-top: 1rem;
}

.borderBar {
    background: #0d253f ;
    height: 3rem;
}

.row {
    margin-bottom: 0;
}

nav .brand-logo {
    font-size: 1rem;
}