

.mainBar {
    height: 40vh;
}

.mainInfo {
    height: 30vh;
    color: white;
    padding-left:2rem;
}

.userPhoto {
    height:30vh;
}

.cardDetail {
    width: 100%;
}

.reminder {
    position: relative;
}
/*
.taskBtn {
    padding-top: 2rem;
}*/
       
.topPadding {
    padding-top: 1rem;
}

.borderBar {
    background: #0d253f ;
    height: 3rem;
}

.row {
    margin-bottom: 0;
}

.card{
    height: 400px;
    width: 335px;
}

.card .card-image{
    height: 50px;
    width: 50px;
}

.manager-buttons{
    display:flex;
    flex-wrap:wrap;
    padding:30px 15px 0px;
}
/* task styling based on due date*/
.completed{
    color:green;
}

.past-due{
    color:red;
}

.pending{
    color:yellow;
}